sudo: require
language: cpp

git:
  depth: false

branches:
  only:
    - master

notifications:
  email: false

jobs:
  include:
  - name: llvm-scan-build
    os: osx
    before_install:
    - sudo pip install scan-build
    compiler: clang
    env:
     - DEBUG=yes
     - SAFE_ONLY=yes
    script:
    - make clean
    - scan-build -v make core

  - name: cpplint 
    os: osx
    before_install:
    - sudo pip install cpplint
    script:
    - make clean
    - cpplint --recursive --filter=-whitespace,-runtime,-build,-readability,-legal src

  - name: Code Coverage 
    os: linux
    env:
     - CXXFLAGS="-coverage -O0" LDFLAGS="-coverage -O0" DEBUG="yes" PROG=
    dist: xenial
    compiler: gcc
    before_install:
    - sudo pip install codecov
    after_success:
    - bash <(curl -s https://codecov.io/bash) -a "--object-directory=build/objects/x86_64-linux-g++5"
    script:
    - make clean
    - make coverage
    - codecov

  - name: linux-valgrind-memcheck-callgrind-cachegrind-ham4
    os: linux
    dist: xenial
    env:
     - SAFE_ONLY=yes
     - DEBUG=yes
    before_install:
    - sudo apt-get install -y valgrind
    compiler: gcc
    script:
    - make clean
    - make core 
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-memcheck ham4
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-callgrind ham4
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-cachegrind ham4

  - name: linux-valgrind-memcheck-callgrind-cachegrind-catage
    os: linux
    dist: xenial
    env:
     - SAFE_ONLY=yes
     - DEBUG=yes
    before_install:
    - sudo apt-get install -y valgrind
    compiler: gcc
    script:
    - make clean
    - make core 
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-memcheck catage
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-callgrind catage
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-cachegrind catage

  - name: linux-valgrind-memcheck-callgrind-cachegrind-chem_eng
    os: linux
    dist: xenial
    env:
     - SAFE_ONLY=yes
     - DEBUG=yes
    before_install:
    - sudo apt-get install -y valgrind
    compiler: gcc
    script:
    - make clean
    - make core 
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-memcheck chem_eng
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-callgrind chem_eng
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-cachegrind chem_eng

  - name: linux-valgrind-memcheck-callgrind-cachegrind-forest
    os: linux
    dist: xenial
    env:
     - SAFE_ONLY=yes
     - DEBUG=yes
    before_install:
    - sudo apt-get install -y valgrind
    compiler: gcc
    script:
    - make clean
    - make core 
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-memcheck forest
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-callgrind forest
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-cachegrind forest

  - name: linux-valgrind-memcheck-callgrind-cachegrind-finance
    os: linux
    dist: xenial
    env:
     - SAFE_ONLY=yes
     - DEBUG=yes
    before_install:
    - sudo apt-get install -y valgrind
    compiler: gcc
    script:
    - make clean
    - make core 
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-memcheck finance
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-callgrind financ
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-cachegrind finance

  - name: linux-valgrind-memcheck-callgrind-cachegrind-simple
    os: linux
    dist: xenial
    env:
     - SAFE_ONLY=yes
     - DEBUG=yes
    before_install:
    - sudo apt-get install -y valgrind
    compiler: gcc
    script:
    - make clean
    - make core 
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-memcheck simple
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-callgrind simple
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-cachegrind simple

  - name: linux-valgrind-memcheck-callgrind-cachegrind-pella_t
    os: linux
    dist: xenial
    env:
     - SAFE_ONLY=yes
     - DEBUG=yes
    before_install:
    - sudo apt-get install -y valgrind
    compiler: gcc
    script:
    - make clean
    - make core 
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-memcheck pella_t
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-callgrind pella_t
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-cachegrind pella_t

  - name: linux-valgrind-memcheck-callgrind-cachegrind-robreg
    os: linux
    dist: xenial
    env:
     - SAFE_ONLY=yes
     - DEBUG=yes
    before_install:
    - sudo apt-get install -y valgrind
    compiler: gcc
    script:
    - make clean
    - make core 
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-memcheck robreg
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-callgrind robreg
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-cachegrind robreg

  - name: linux-valgrind-memcheck-callgrind-cachegrind-truncreg
    os: linux
    dist: xenial
    env:
     - SAFE_ONLY=yes
     - DEBUG=yes
    before_install:
    - sudo apt-get install -y valgrind
    compiler: gcc
    script:
    - make clean
    - make core 
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-memcheck truncreg
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-callgrind truncreg
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-cachegrind truncreg

  - name: linux-valgrind-memcheck-callgrind-cachegrind-vol
    os: linux
    dist: xenial
    env:
     - SAFE_ONLY=yes
     - DEBUG=yes
    before_install:
    - sudo apt-get install -y valgrind
    compiler: gcc
    script:
    - make clean
    - make core 
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-memcheck vol
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-callgrind vol
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-cachegrind vol

  - name: linux-valgrind-memcheck-callgrind-cachegrind-bvprobit
    os: linux
    dist: xenial
    env:
     - SAFE_ONLY=yes
     - DEBUG=yes
    before_install:
    - sudo apt-get install -y valgrind
    compiler: gcc
    script:
    - make clean
    - make core 
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-memcheck bvprobit
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-callgrind bvprobit
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-cachegrind bvprobit

  - name: linux-valgrind-memcheck-callgrind-cachegrind-union
    os: linux
    dist: xenial
    env:
     - SAFE_ONLY=yes
     - DEBUG=yes
    before_install:
    - sudo apt-get install -y valgrind
    compiler: gcc
    script:
    - make clean
    - make core 
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-memcheck union
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-callgrind union
    - make --directory=examples PROG=../../../scripts/ci/run-valgrind-cachegrind union

  - os: windows
    install: choco install -y make
    env:
    - SAFE_ONLY=yes
    compiler: gcc
    script:
    - make.exe clean
    - make.exe dist
    - make.exe gtests

  - os: windows
    env:
    - SAFE_ONLY=yes
    script:
    - scripts/ci/travis-windows-vc-build.bat
