sudo: require
language: cpp

branches:
  only:
    - master

notifications:
  email: false

matrix:
  include:
  - os: linux
    env:
     - CXXFLAGS="-coverage -O0" LDFLAGS="-coverage -O0" DEBUG="yes" PROG=
    dist: xenial
    compiler: gcc
    before_install:
    - sudo pip install codecov
    after_success:
    - bash <(curl -s https://codecov.io/bash) -a "--object-directory=build/objects/debug"
    script:
    - make clean coverage
    - codecov

  - os: linux
    dist: xenial
    env:
     - DEBUG= PROG=
    compiler: gcc
    script:
    - make clean all

  - os: osx
    env:
     - DEBUG= PROG=
    compiler: clang
    script:
    - make clean all

  - os: osx
    env:
     - DEBUG= PROG=
    compiler: gcc
    script:
    - make clean all

  - os: windows
    install: choco install -y make
    env:
     - PROG=
    compiler: gcc
    script:
    - make.exe clean all

  - os: windows
    script:
    - ./vc.bat

  - os: windows
    script:
    - cmd //c pushd "C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\VC\Auxiliary\Build" && vcvarsall.bat amd64 && popd && nmake CXX=cl CC=cl
