sudo: require
language: cpp

compiler:
  - gcc
  - clang

before_install:
  - sudo pip install codecov

script: make clean coverage

branches:
  only:
    - master

notifications:
  email: false

env:
  global:
    - CXXFLAGS="-coverage -O0" LDFLAGS="-coverage -O0" DEBUG="yes" PROG=

os:
  - linux

after_success:
  - bash <(curl -s https://codecov.io/bash) -a "--object-directory=build/objects/debug"
