sudo: require
language: cpp

branches:
  only:
    - master

notifications:
  email: false

matrix:
  include:
  - os: linux
    env:
     - CXXFLAGS="-coverage -O0" LDFLAGS="-coverage -O0" DEBUG="yes" PROG=
    dist: xenial
    compiler: gcc
    before_install:
    - sudo pip install codecov
    after_success:
    - bash <(curl -s https://codecov.io/bash) -a "--object-directory=build/objects/debug"
    script:
    - make clean coverage
    - codecov

  - os: linux
    dist: xenial
    env:
     - CXXFLAGS="-O2" LDFLAGS="-O2" DEBUG= PROG=
    compiler: gcc
    script:
    - make clean all

  - os: osx
    env:
     - CXXFLAGS="-O2" LDFLAGS="-O2" DEBUG= PROG=
    compiler: clang
    script:
    - make clean all

  - os: osx
    env:
     - CXXFLAGS="-O2" LDFLAGS="-O2" DEBUG= PROG=
    compiler: gcc
    script:
    - make clean all

  - os: windows
    install: choco install -y make
    env:
     - PROG=
    compiler: gcc
    script:
    - make.exe clean all

  - os: windows
    install: choco install -y visualstudio2017community visualstudio2017-workload-nativecrossplat
    env:
     - CXX=cl.exe CC=cl.exe DEBUG="yes" PROG=
    compiler: cl
    script:
    - nmake.exe clean all
