4darray/4darray
4darray/4darray.bar
4darray/4darray.cor
4darray/4darray.cpp
4darray/4darray.eva
4darray/4darray.htp
4darray/4darray.log
4darray/4darray.obj
4darray/4darray.par
4darray/4darray.std
4darray/admodel.cov
4darray/admodel.dep
4darray/admodel.hes
4darray/fmin.log
4darray/variance
agemat/Echo.Out
agemat/admodel.cov
agemat/admodel.dep
agemat/admodel.hes
agemat/agemat
agemat/agemat.b01
agemat/agemat.bar
agemat/agemat.cor
agemat/agemat.cpp
agemat/agemat.dat
agemat/agemat.eva
agemat/agemat.htp
agemat/agemat.log
agemat/agemat.obj
agemat/agemat.p01
agemat/agemat.par
agemat/agemat.r01
agemat/agemat.rep
agemat/agemat.std
agemat/agemat.tpl
agemat/fmin.log
agemat/variance
beta2/admodel.cov
beta2/admodel.dep
beta2/admodel.hes
beta2/beta2
beta2/beta2.bar
beta2/beta2.cor
beta2/beta2.cpp
beta2/beta2.dat
beta2/beta2.eva
beta2/beta2.htp
beta2/beta2.log
beta2/beta2.obj
beta2/beta2.par
beta2/beta2.std
beta2/fmin.log
beta2/variance
beta3/admodel.cov
beta3/admodel.dep
beta3/admodel.hes
beta3/beta3
beta3/beta3.bar
beta3/beta3.bgs
beta3/beta3.cor
beta3/beta3.cpp
beta3/beta3.eva
beta3/beta3.htp
beta3/beta3.log
beta3/beta3.luu
beta3/beta3.obj
beta3/beta3.par
beta3/beta3.rhes
beta3/beta3.std
beta3/fmin.log
beta3/hesscheck
beta3/hessian.bin
beta3/variance
beta_deviate/admodel.cov
beta_deviate/admodel.dep
beta_deviate/admodel.hes
beta_deviate/fmin.log
beta_deviate/hesscheck
beta_deviate/hessian.bin
beta_deviate/minto
beta_deviate/minto.bar
beta_deviate/minto.bgs
beta_deviate/minto.cor
beta_deviate/minto.cpp
beta_deviate/minto.eva
beta_deviate/minto.htp
beta_deviate/minto.log
beta_deviate/minto.obj
beta_deviate/minto.par
beta_deviate/minto.rhes
beta_deviate/minto.std
beta_deviate/variance
beta_regression/admodel.cov
beta_regression/admodel.dep
beta_regression/admodel.hes
beta_regression/b1
beta_regression/b2
beta_regression/beta_regression
beta_regression/beta_regression.b01
beta_regression/beta_regression.bar
beta_regression/beta_regression.bgs
beta_regression/beta_regression.cor
beta_regression/beta_regression.cpp
beta_regression/beta_regression.eva
beta_regression/beta_regression.htp
beta_regression/beta_regression.log
beta_regression/beta_regression.luu
beta_regression/beta_regression.obj
beta_regression/beta_regression.p01
beta_regression/beta_regression.par
beta_regression/beta_regression.psv
beta_regression/beta_regression.r01
beta_regression/beta_regression.rep
beta_regression/beta_regression.rhes
beta_regression/beta_regression.std
beta_regression/data
beta_regression/fmin.log
beta_regression/hesscheck
beta_regression/hessian.bin
beta_regression/hybrid_seed
beta_regression/s1
beta_regression/s2
beta_regression/sims
beta_regression/variance
betai/admodel.cov
betai/admodel.dep
betai/admodel.hes
betai/betai
betai/betai.bar
betai/betai.cor
betai/betai.cpp
betai/betai.eva
betai/betai.htp
betai/betai.log
betai/betai.obj
betai/betai.par
betai/betai.std
betai/fmin.log
betai/variance
betareg/a
betareg/admodel.cov
betareg/admodel.dep
betareg/admodel.hes
betareg/b1
betareg/b2
betareg/betareg
betareg/betareg.b01
betareg/betareg.b02
betareg/betareg.bar
betareg/betareg.bgs
betareg/betareg.cor
betareg/betareg.cpp
betareg/betareg.eva
betareg/betareg.htp
betareg/betareg.log
betareg/betareg.luu
betareg/betareg.obj
betareg/betareg.p01
betareg/betareg.p02
betareg/betareg.par
betareg/betareg.r01
betareg/betareg.r02
betareg/betareg.rep
betareg/betareg.rhes
betareg/betareg.std
betareg/data
betareg/fmin.log
betareg/hesscheck
betareg/hessian.bin
betareg/s1
betareg/s2
betareg/variance
changepoint/admodel.cov
changepoint/admodel.dep
changepoint/admodel.hes
changepoint/changepoint
changepoint/changepoint.bar
changepoint/changepoint.cor
changepoint/changepoint.cpp
changepoint/changepoint.eva
changepoint/changepoint.htp
changepoint/changepoint.log
changepoint/changepoint.obj
changepoint/changepoint.par
changepoint/changepoint.rep
changepoint/changepoint.std
changepoint/fmin.log
changepoint/variance
colfill/colfill
colfill/colfill.bar
colfill/colfill.cpp
colfill/colfill.htp
colfill/colfill.log
colfill/colfill.obj
colfill/colfill.par
colfill/colfill.rep
colfill/fmin.log
colfill/variance
cov_re/admodel.cov
cov_re/admodel.dep
cov_re/admodel.hes
cov_re/cov_re
cov_re/cov_re.bar
cov_re/cov_re.bgs
cov_re/cov_re.cor
cov_re/cov_re.cpp
cov_re/cov_re.eva
cov_re/cov_re.htp
cov_re/cov_re.log
cov_re/cov_re.luu
cov_re/cov_re.obj
cov_re/cov_re.par
cov_re/cov_re.rhes
cov_re/cov_re.std
cov_re/cov_re_sep
cov_re/cov_re_sep.bar
cov_re/cov_re_sep.bgs
cov_re/cov_re_sep.cor
cov_re/cov_re_sep.cpp
cov_re/cov_re_sep.eva
cov_re/cov_re_sep.htp
cov_re/cov_re_sep.log
cov_re/cov_re_sep.obj
cov_re/cov_re_sep.par
cov_re/cov_re_sep.rhes
cov_re/cov_re_sep.std
cov_re/fmin.log
cov_re/hesscheck
cov_re/hessian.bin
cov_re/variance
ctl/admodel.cov
ctl/admodel.dep
ctl/admodel.hes
ctl/example
ctl/example.b01
ctl/example.bar
ctl/example.cor
ctl/example.cpp
ctl/example.eva
ctl/example.htp
ctl/example.log
ctl/example.obj
ctl/example.p01
ctl/example.par
ctl/example.std
ctl/fmin.log
ctl/variance
expm/admodel.cov
expm/admodel.dep
expm/admodel.hes
expm/expm
expm/expm.bar
expm/expm.cor
expm/expm.cpp
expm/expm.eva
expm/expm.htp
expm/expm.log
expm/expm.obj
expm/expm.par
expm/expm.std
expm/fmin.log
expm/variance
geolocation/kfsst/
geolocation/kftrack/
glmmadmb/admb_tests/
glmmadmb/admodel.cov
glmmadmb/admodel.dep
glmmadmb/admodel.hes
glmmadmb/b1
glmmadmb/b2
glmmadmb/bvprobit
glmmadmb/bvprobit.cpp
glmmadmb/bvprobit.htp
glmmadmb/bvprobit.obj
glmmadmb/bvprobit.tpl
glmmadmb/fmin.log
glmmadmb/glmmadmb
glmmadmb/glmmadmb.b01
glmmadmb/glmmadmb.bar
glmmadmb/glmmadmb.bgs
glmmadmb/glmmadmb.cor
glmmadmb/glmmadmb.cpp
glmmadmb/glmmadmb.eva
glmmadmb/glmmadmb.htp
glmmadmb/glmmadmb.log
glmmadmb/glmmadmb.luu
glmmadmb/glmmadmb.obj
glmmadmb/glmmadmb.p01
glmmadmb/glmmadmb.par
glmmadmb/glmmadmb.r01
glmmadmb/glmmadmb.rep
glmmadmb/glmmadmb.rhes
glmmadmb/glmmadmb.std
glmmadmb/glmmadmb.tpl
glmmadmb/hesscheck
glmmadmb/hessian.bin
glmmadmb/nbmm
glmmadmb/nbmm.cpp
glmmadmb/nbmm.htp
glmmadmb/nbmm.obj
glmmadmb/nbmm.tpl
glmmadmb/phi.rep
glmmadmb/s1
glmmadmb/s2
glmmadmb/variance
gradients_output/admodel.cov
gradients_output/admodel.dep
gradients_output/admodel.hes
gradients_output/de
gradients_output/de.b01
gradients_output/de.bar
gradients_output/de.cor
gradients_output/de.cpp
gradients_output/de.eva
gradients_output/de.htp
gradients_output/de.log
gradients_output/de.obj
gradients_output/de.p01
gradients_output/de.par
gradients_output/de.r01
gradients_output/de.rep
gradients_output/de.std
gradients_output/fmin.log
gradients_output/variance
gtests/googletest-read-only/
gtests/gtest-all
gtests/gtest-all.obj
gtests/main.obj
gtests/test_adstring.obj
priors/fmin.log
priors/rat
priors/rat.b01
priors/rat.b02
priors/rat.bar
priors/rat.cpp
priors/rat.htp
priors/rat.log
priors/rat.obj
priors/rat.p01
priors/rat.p02
priors/rat.par
priors/rat.r01
priors/rat.r02
priors/rat.rep
priors/ratre
priors/ratre.b01
priors/ratre.b02
priors/ratre.bar
priors/ratre.cpp
priors/ratre.htp
priors/ratre.log
priors/ratre.obj
priors/ratre.p01
priors/ratre.p02
priors/ratre.par
priors/ratre.r01
priors/ratre.r02
priors/ratre.rep
priors/variance
simple_mcmc/admodel.cov
simple_mcmc/admodel.dep
simple_mcmc/admodel.hes
simple_mcmc/fmin.log
simple_mcmc/posteriors.rep
simple_mcmc/simple_mcmc
simple_mcmc/simple_mcmc.bar
simple_mcmc/simple_mcmc.cor
simple_mcmc/simple_mcmc.cpp
simple_mcmc/simple_mcmc.ecm
simple_mcmc/simple_mcmc.eva
simple_mcmc/simple_mcmc.hst
simple_mcmc/simple_mcmc.htp
simple_mcmc/simple_mcmc.log
simple_mcmc/simple_mcmc.mc2
simple_mcmc/simple_mcmc.mcm
simple_mcmc/simple_mcmc.obj
simple_mcmc/simple_mcmc.par
simple_mcmc/simple_mcmc.psv
simple_mcmc/simple_mcmc.std
simple_mcmc/sims
simple_mcmc/variance
testminmax/fmin.log
testminmax/testminmax
testminmax/testminmax.bar
testminmax/testminmax.cpp
testminmax/testminmax.dat
testminmax/testminmax.htp
testminmax/testminmax.log
testminmax/testminmax.obj
testminmax/testminmax.par
testminmax/variance
geolocation/trackit/
geolocation/ukfsst/
hysimple/admodel.cov
hysimple/admodel.dep
hysimple/admodel.hes
hysimple/fmin.log
hysimple/hybrid_seed
hysimple/hysimple
hysimple/hysimple.bar
hysimple/hysimple.cor
hysimple/hysimple.cpp
hysimple/hysimple.eva
hysimple/hysimple.htp
hysimple/hysimple.log
hysimple/hysimple.obj
hysimple/hysimple.par
hysimple/hysimple.psv
hysimple/hysimple.std
hysimple/sims
hysimple/variance
adnuts/admodel.cov
adnuts/admodel.dep
adnuts/admodel.hes
adnuts/fmin.log
adnuts/hybrid_seed
adnuts/adnuts
adnuts/adnuts.bar
adnuts/adnuts.cor
adnuts/adnuts.cpp
adnuts/adnuts.eva
adnuts/adnuts.htp
adnuts/adnuts.log
adnuts/adnuts.obj
adnuts/adnuts.par
adnuts/adnuts.psv
adnuts/adnuts.std
adnuts/sims
adnuts/variance
adnuts/adaptation.csv
adnuts/adapted_metric.txt
adnuts/adnuts.mc2
adnuts/adnuts.mcm
adnuts/rwm_lp.txt
adnuts/unbounded.csv
lprof/admodel.cov
lprof/admodel.dep
lprof/admodel.hes
lprof/dgs2
lprof/diags
lprof/est_a.plt
lprof/est_b.plt
lprof/fmin.log
lprof/simple
lprof/simple.bar
lprof/simple.cor
lprof/simple.cpp
lprof/simple.dat
lprof/simple.eva
lprof/simple.htp
lprof/simple.log
lprof/simple.obj
lprof/simple.par
lprof/simple.par.lprof
lprof/simple.par.save
lprof/simple.prf
lprof/simple.std
lprof/variance
orange_mvn/admodel.cov
orange_mvn/admodel.dep
orange_mvn/admodel.hes
orange_mvn/fmin.log
orange_mvn/hesscheck
orange_mvn/hessian.bin
orange_mvn/orange_mvn
orange_mvn/orange_mvn.b01
orange_mvn/orange_mvn.bar
orange_mvn/orange_mvn.bgs
orange_mvn/orange_mvn.cor
orange_mvn/orange_mvn.cpp
orange_mvn/orange_mvn.eva
orange_mvn/orange_mvn.htp
orange_mvn/orange_mvn.log
orange_mvn/orange_mvn.obj
orange_mvn/orange_mvn.p01
orange_mvn/orange_mvn.par
orange_mvn/orange_mvn.r01
orange_mvn/orange_mvn.rep
orange_mvn/orange_mvn.rhes
orange_mvn/orange_mvn.std
orange_mvn/variance
