name: windows-rtools40-64bit

on: [push]

jobs:
  build:

    runs-on: [self-hosted, windows]
    
    steps:
    - uses: actions/checkout@v2
    - name: clean
      run: |
        set PATH=C:\rtools40\usr\bin;C:\rtools40\mingw64\bin;%PATH%
        make clean
      shell: cmd
    - name: build
      run: |
        set PATH=C:\rtools40\usr\bin;C:\rtools40\mingw64\bin;%PATH%
        make -j 2
        make -j 2 shared
      shell: cmd
    - name: Artifact
      uses: actions/upload-artifact@v1
      with:
        name: admb_rtools40
        path: build\\admb
    - name: debug
      run: |
        set PATH=C:\rtools40\usr\bin;C:\rtools40\mingw64\bin;%PATH%
        make -j 2 DEBUG=yes
        make -j 2 shared DEBUG=yes
      shell: cmd
    - name: Artifact
      uses: actions/upload-artifact@v1
      with:
        name: admb_rtools40_debug
        path: build\\admb
    - name: tests
      run: |
        set PATH=C:\rtools40\usr\bin;C:\rtools40\mingw64\bin;%PATH%
        make verify DEBUG=yes SAFE_ONLY=yes
      shell: cmd
    - name: Artifact
      uses: actions/upload-artifact@v1
      with:
        name: outputs
        path: outputs.txt
