name: windows-msys2-64bit

on: [push]

jobs:
  build:

    runs-on: [self-hosted, windows]
    
    steps:
    - uses: actions/checkout@v2
    - name: clean
      run: |
        set PATH=C:\msys64\usr\bin;C:\msys64\mingw64\bin;%PATH%
        make clean
      shell: cmd
    - name: build
      run: |
        set PATH=C:\msys64\usr\bin;C:\msys64\mingw64\bin;%PATH%
        make -j 4
        make -j 4 shared
      shell: cmd
    - name: Artifact
      uses: actions/upload-artifact@v1
      with:
        name: admb_msys2
        path: build\\admb
    - name: tests
      run: |
        set PATH=C:\msys64\usr\bin;C:\msys64\mingw64\bin;%PATH%
        make verify DEBUG=yes TESTS_REMOTE=no
      shell: cmd
    - name: Artifact
      uses: actions/upload-artifact@v1
      with:
        name: outputs
        path: outputs.txt
