name: windows-msys2-64bit

on: [push]

jobs:
  build:

    runs-on: [self-hosted, windows]
    
    steps:
    - uses: actions/checkout@v1
    - name: clean
      run: |
        set PATH=C:\msys64\mingw64\bin;%PATH%
        utilities\\make clean
        git status
      shell: cmd
    - name: build
      run: |
        set PATH=C:\msys64\mingw64\bin;%PATH%
        utilities\\make -j 4
        utilities\\make -j 4 shared
      shell: cmd
    - name: Artifact
      uses: actions/upload-artifact@v1
      with:
        name: admb_msys2
        path: build\\admb
    - name: test
      run: |
        set PATH=C:\msys64\mingw64\bin;%PATH%
        utilities\\make test DEBUG=yes TESTS_REMOTE=no
      shell: cmd
    - name: Artifact
      uses: actions/upload-artifact@v1
      with:
        name: outputs
        path: outputs-opt.txt
